body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f7e6e1, #efe1d6);
}

/* Header */
header {
    background: linear-gradient(to right, #8b5e3c, #c48a6a);
    color: white;
    text-align: center;
    padding: 40px 20px;
}.profile-img {
    width: 200px;      /* تكبير الحجم */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #f3c6b8;
    margin: 20px auto; /* يخليها بالمنتصف */
    display: block;
}

/* Navigation */
nav {
    background-color: #f3c6b8;
    text-align: center;
    padding: 12px;
}

nav a {
    color: #5a3825;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #8b5e3c;
}

/* Sections */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    color: #5a3825;
}

h2 {
    color: #8b5e3c;
}

/* Projects */
.project {
    background-color: #fff7f4;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

/* Footer */
footer {
    background-color: #8b5e3c;
    color: white;
    text-align: center;
    padding: 15px;
}